extends ./layouts/base-layout.jade
block content
    main.dashboard-container
        include components/common-header/common-header

        section.dashboard-header
            //Dashboard header and title and buttons
            //include components/dashboard-headers/dashboard-header-with-btn
            //include components/dashboard-headers/dashboard-header-withdropdown
        //Dashboard Content Scrollable
        section.dashboard-content
            //Dark background section
            .col
                div.card
                    .card-body
                        .card-section
                             button.btn.btn-primary Button 1

        section.dashboard-footer
            | I am footer
