extends ./layouts/base-layout.jade
block content
    main.dashboard-container
        //Common Header Holodome logo...
        include components/common-header/common-header

        section.dashboard-header
            //Dashboard header and title and buttons
            //include components/dashboard-headers/dashboard-header-with-btn
            //include components/dashboard-headers/dashboard-header-withdropdown
        //Dashboard Content Scrollable
        section.dashboard-content
            //Dark background section
            div.card.card-section
               | Studio

        section.dashboard-footer
            | I am footer
