.schedule-settings{
    padding-top: 0.5rem;
    .form-control{
        color: #ffffff;
        transition: 0.5s color cubic-bezier(0.2, 0.8, 0.2, 1.2), 0.5s background cubic-bezier(0.2, 0.8, 0.2, 1.2), 0.5s border cubic-bezier(0.2, 0.8, 0.2, 1.2);
        &:focus{
            color: #000000;
        }
    }
    .was-validated .form-control{
        &:invalid{
            background-color: #425259;
        }
    }
    .input-group{
        .form-control{
            padding-right: 2.5rem;
        }
        .input-group-append{
            cursor: pointer;
            position: absolute;
            right: 0.625rem;
            top: 50%;
            transform: translateY(-50%);
        }
        .input-group-text{
            border: 0;
            padding: 0;
        }
    }
}
