.page-header.d-flex
    h1.page-title.mb-0.mr-3
        b.mr-2 All Stores Report:
        span.f-l Last 7 Days
    button.btn.btn-info.align-self-center(type='button', data-toggle='modal', data-target='#confirmationDialog')
        | VIEW MORE REPORTS

include ../modals/confirmation-dialog
