.page-header.d-flex.justify-content-between
    div.row.w-100
        div.col-24.d-flex.flex-wrap.justify-content-between
            div.d-flex
                h1.page-title.mb-0.mr-3
                    b.mr-2 Manage Units
                ul.list-inline.list-pipe.mb-0
                    li.list-inline-item
                        a(href="javascript:;")
                            i.icon-add.mr-2
                            span.underline Add Venu
                    li.list-inline-item
                        a(href="javascript:;")
                            i.icon-add.mr-2
                            span.underline Add Unit
            nav.nav-icons-wrapper
                a(href="javascript:;").nav-icon
                    i.icon-card-view
                a(href="javascript:;").nav-icon
                    i.icon-map-view
                a(href="javascript:;").nav-icon.active
                    i.icon-table-view

        //div.col-24.col-xl-9.offset-xl-1.d-flex.justify-content-between
        //    h1.page-title.mb-0.mr-3
        //        b.mr-2 Stats:
        //        span.f-l Last 7 Days
        //    button.btn.btn-info.align-self-center VIEW MORE Stats
