div.pt-3
    .dropdown.custom-select
        div#dropdownMenuButton(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown button
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item.active(href='#') All stores
            a.dropdown-item(href='#') One
            a.dropdown-item(href='#') Three


//.d-flex
//  .dropdown.mr-3
//    button#dropdownMenuButton.btn.btn-primary.btn-dropdown(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
//      | Dropdown button
//    .dropdown-menu(aria-labelledby="dropdownMenuButton")
//      a.dropdown-item(href="#") Action
//      a.dropdown-item(href="#") Another action
//      a.dropdown-item(href="#") Something else here
//
//
//  .dropdown
//    button#dropdownMenuButton.btn.btn-secondary.btn-dropdown(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
//      | Actions
//    .dropdown-menu(aria-labelledby="dropdownMenuButton")
//      a.dropdown-item(href="#") Action
//      a.dropdown-item(href="#") Another action
