.dropdown.dropdown-with-searchbox.dropdown-with-height
  button#dropdownMenuButton1.btn.btn-dropdown.btn-block(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    | The Department  Name Here
  .dropdown-menu(aria-labelledby="dropdownMenuButton1")
    .menu-container
      .menu-header
        .form-group.search-input-group
          label.sr-only(for="inputDropdown1") Search Input
          input#inputDropdown1.form-control(type="search" aria-describedby="emailHelp" placeholder="Search")
          small#emailHelp.sr-only We'll never share your email with anyone else.
      .menu-section
        a.dropdown-item.selected(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
        a.dropdown-item.selected(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
        a.dropdown-item.selected(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
        a.dropdown-item.selected(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
        a.dropdown-item.selected(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
      .menu-footer
        span I am footer
