.dropdown.custom-select.dropdown-with-height
    div#dropdownMenuButtonWithCheckbox(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | Dropdown with checkbox
    form.dropdown-menu(aria-labelledby="dropdownMenuButtonWithCheckbox")
        .menu-container
            .menu-header
                | Place a search box... if required this will not scroll....
            .menu-section
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck1.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck1") Sunday
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck2.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck2") Monday
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck3.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck3") Tuesday
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck4.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck4") Wednesday
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck5.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck5") Select Day
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck6.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck6") Select Day
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck7.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck7") Select Day
                a.dropdown-item
                    .custom-control.custom-checkbox(href="#")
                        input#customCheck8.custom-control-input(type="checkbox")
                        label.custom-control-label(for="customCheck8") Select Day
