.input-group.btn-searchbox-group
  .input-group-prepend.flex-fill
    button.btn.dropdown-toggle.border.border-right-0(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
    .dropdown-menu
      a.dropdown-item(href="#") Action
      a.dropdown-item(href="#") Another action
      a.dropdown-item(href="#") Something else here
      .dropdown-divider(role="separator")
      a.dropdown-item(href="#") Separated link
    .search-input-group.flex-fill
      label.sr-only(for="exampleSearchWithDropdown")
      input#exampleSearchWithDropdown.form-control(type="search", aria-describedby="searchHelp", aria-label="Text input with dropdown button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      small#searchHelp.sr-only Search with Dropdown
      .dropdown-menu.w-100
        a.dropdown-item(href="#") Action
        a.dropdown-item(href="#") Another action
        a.dropdown-item(href="#") Something else here
        .dropdown-divider(role="separator")
        a.dropdown-item(href="#") Separated link
