.dropdown.dropdwon-with-check
  button#dropdownMenuButton.btn.btn-primary.btn-dropdown(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    | Dropdown with check Mark
  form.dropdown-menu(aria-labelledby="dropdownMenuButton")
    a.dropdown-item.selected(href="#") one
    a.dropdown-item(href="#") two
    a.dropdown-item(href="#") three
