aside.right-nav
    nav.right-nav-wrapper.open
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            | CSS
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        div.h-75v.overflow-scroll
                            form
                                .form-group
                                    label(for='exampleInputEmail33') Width
                                    input#exampleInputEmail33.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Width')

                                .form-group
                                    label(for='exampleInputPassword2') Height
                                    input#exampleInputPassword2.form-control(type='text', placeholder='Enter Height')

                                .form-group
                                    label(for='exampleInputPassword3') Color
                                    input#exampleInputPassword3.form-control(type='color', placeholder='Select Color')

            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            | JS
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        div.h-75v.overflow-scroll
                            .form-group
                                label(for='exampleInputEmail1') Email address
                                input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            | Other Properties
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        div.h-75v.overflow-scroll
                            form
                                .form-group
                                    label(for='formControlRange') Example Range input
                                    input#formControlRange.form-control-range(type='range')

